* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #F2F4F5;
  color: #1E1E1F;
  font-family: 'Montserrat' , Arial, Helvetica, sans-serif;
}

#root {
  margin: 0 35px;
  position: relative;
  min-height: 100vh;

}

@media all and (min-width: 768px) {
  #root {
    margin: 0 60px;
  }
}



@media all and (min-width: 1024px) {
   #root {
    margin: 0 200px;
  }
}


